OPENAI_API_KEY="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
ANTHROPIC_API_KEY=
CHROMA_PERSIST_DIR=./chroma_db
PORT=8000
NEWS_API_KEY="04247da14bed41ca83eb4cff967e0d3d"
